.places {
  max-width: 984px;
  margin: 0;
  padding: 92px 0 12px 0;
}

@media all and (max-width: 1024px) {
  .places {
    padding: 92px 48px 92px 48px;
  }
}

@media all and (max-width: 768px) {
  .places {
    padding: 88px 0 88px 0;
  }
}
