.footer__menu {
  margin: 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 320px) {
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    gap: 32px;
  }
}
