.cover__subtitle {
  width: 360px;
  max-width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 32px auto 0;
}

@media all and (max-width: 768px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
  }
}
