.cover__subtitle {
  max-width: 360px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: calc(14px + 4 * (100vw / 1280));
  line-height: calc(16px + 6 * (100vw / 1280));
  text-align: center;
  z-index: 2;
  margin: 32px auto 0 auto;
  padding: 0;
}
