.places__place-card {
  max-width: 984px;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto;
  padding: 0 0 60px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  grid-column-gap: 40px;
  color: #ffff;
}

@media screen and (max-width: 320px) {
  .places__place-card {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
