.content {
  background-color: inherit;
  max-width: 1280px;
  margin: 0 auto;
}

/* Основной код для разрешения 1024px */
@media screen and (min-width: 2560px) {
  /* стили для больших мониторов с разрешением 4K */
}
@media screen and (min-width: 1440px) {
  /* стили для больших настольных компьютеров и ноутбуков */
}
@media screen and (max-width: 1024px) {
  /* стили для планшета в альбомной ориентации */
}
@media screen and (max-width: 768px) {
  /* стили для планшета */
}
@media screen and (max-width: 425px) {
  /* стили для широкого смартфона */
}
@media screen and (max-width: 375px) {
  /* стили для среднего смартфона */
}
@media screen and (max-width: 320px) {
  /* стили для малого смартфона */
}
