.intro {
  max-width: 984px;
  color: #FFF;
  font-family: 'Inter', Arial, sans-serif;
  margin: 0 auto 0 auto;
  padding: 92px 16px 92px 16px;
}

@media all and (max-width: 1024px) {
  .intro {
    padding: 92px 48px 92px 48px;
  }
}

@media all and (max-width: 768px) {
  .intro {
    padding: 88px 24px 88px 24px;
  }
}

@media all and (max-width: 720px) {
  .intro {
    max-width: 720px;
  }
}

@media all and (max-width: 320px) {
  .intro {
    padding: 64px 16px 64px 16px;
  }
}
