.lead__caption {
  text-align: left;
  color: #FFFFFF;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  padding: 0 16px 0 16px;
}
