.places__place-card-provide {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .places__place-card-provide {
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 767px) {
  .places__place-card-provide {
    align-self: start;
  }
}

@media screen and (max-width: 767px) {
  .places__place-card-provide {
    padding: 0 16px 32px 16px;
  }
}
